<!DOCTYPE html>
<html>

<head>
<!-------configuracion de la pagina---------------->
    <title>Hospitalizationathome</title>
    <meta charset="UTF-8">
    <link rel="preload" href="css/normalize.css" as="style">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<!---------------ENCABEZADO---------------------------->
<header>
    <h1>Hospitalization at home</h1>
    <a href="html/Auxiliar.html">
        <input type="button" value="Login">
    </a>
    <button class="Signin">sign in</button>
</header>
<!----------------CUADRO DE INGRESO------------------->
<body>
    <div class="logIn_user">
    <div class="container_logIn_User">
        <h2>Login</h2>
        <form v-on:submit.prevent="processLogInUser">
            <input type="text" v-model="user.username" placeholder="Username">
            <br>
            <input type="password" v-model="user.password" placeholder="Password">
            <br>
            <button type="submit">Login</button>
        </form>
    </div>
    </div>
</body>
<!---------------FOOTER------------------------>
<footer class="footer">
    <div class="foteer__main_container">
        <div class="container">
            <div class="type__icon">
                <img class="icon" src="img/location-pin.png">
            </div>
            <div class="type__content">
                <h5>Nuestas oficinas</h5>
                <p>Calle 43 # 12-15 <br> Transversal 94 # 45-12</p>
            </div>
        </div>
        <div class="container">
            <div class="type__icon">
                <img class="icon" src="img/support.png">
            </div>
            <div class="type__content">
                <h5>Líneas de atención</h5>
                <p>01 8000 66 66 66 <br> Bogotá +57 654 878 2565</p>
            </div>
        </div>
        <div class="container">
            <div class="type__icon">
                <img class="icon" src="img/virus.png">
            </div>
            <div class="type__content">
                <h5>Línea Covid-19/ Viruela Símica</h5>
                <p>01 8000 11 22 33 <br> Bogotá +57 456 878 2565</p>
            </div>
        </div>
    </div>
    <div class= "footer__links"> 
        <p>2022 © Todos los derechos reservados ǀ Términos y condiciones ǀ Políticas de privacidad ǀ Lineamientos de seguridad ǀ Sostenibilidad</p>
    </div>
    <div class="footer__recomendations">
        <p>Navegadores recomendados: Internet Explorer 10.0 o superior; Google Chrome, Firefox o Safari en su última versión</p>
    </div>
    <div class="developers">
        <div class="developers__icon">
            <img class="icon" src="img/github.png">
        </div>
        <div class="developers__members">
            <p>Developed by <h5><a href="https://github.com/Darly145">Darly Rodríguez</a> - <a href="https://github.com/VampDanny">Daniel Sánchez</a> - <a href="https://github.com/dgguzmangr">David Guzmán</a> - <a href="https://github.com/seiferdisast">Daniel Rodríguez</a> - <a href="https://github.com/Muchiha91">David Chávez</a></h5></p>
        </div>
    </div>
    <div class="socialnetworks">
        <div class="socialnetworks__icon">
            <img class="icon" src="img/whatsapp.png">
            <img class="icon" src="img/facebook.png">
            <img class="icon" src="img/instagram.png">
            <img class="icon" src="img/youtube.png">
            <img class="icon" src="img/linkedin.png">
        </div>
    </div>
</footer>
</html>