:root {
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;

    --primario: #784D3C;
    --gris: #e1e1e1;
    --blanco: #ffffff;
    --negro: #000000;
} 
/*________________________________________________________________*/
/*--------------------------I N D E X-----------------------------*/
/*´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´'*/

/***BODY***/
*{
    padding: 0;
    margin: 3;
    box-sizing: border-box;
}
.header{
    width: 150px;
    height: 150px;
    background-color: #ffffff;
}

/*Body sección 1*/

#contenidoCarrusel{
    height: 400px;
    overflow: hidden;
}
.carrusel{
    height: 400px;
    position: relative;
}
.tarjetaCarrusel{
    background-color: aqua;
    height: 200%;
}
.flechasCarrusel{
    position: absolute;
    top: 0;
    height: 100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.imgFlechas{
    width: 50px;
    height: 50px;
}
#imagenCarrusel1{
    background-color: black;
}
#imagenCarrusel2{
    background-color: mediumseagreen;
}
#imagenCarrusel3{
    background-color: aqua;
}
a{
    text-decoration: none;
}
.imgIndex{
    width: 100%;
    height: 50%;
}
h1, h2, h3, h4, h5 {
    font-family: var(--fuenteHeading);
    line-height: 1.2;
}

/*Body sección 2*/

.seccion2{
    display: flex;
    padding: 20px 90px 60px 90px;
}
section article{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 1220px;
}
.imgSec2{
    width: 1400px;
    height: 500px;
}
.IndexBody1{
    position: absolute;
    right: 38%;
    width: 400px;
    height: 450px;
    padding: 50px 0px 0px 0px;
}
.IndexBody2{
    position: absolute;
    right: 15%;
    width: 400px;
    height: 450px;
    padding: 50px 0px 0px 0px;
}


/*Body sección 3*/

.seccion3{
    width: 100%;
    height: 850px;
    display: flex;
    justify-content: space-around;
}
.IndexFooter{
    width: 600px;
    height: 600px;
    padding: 70px 50px 50px 70px;
}


/** footer **/
p {
    font-family: var(--fuenteParrafos);
    line-height: 0.8;
}
.footer {
    padding-bottom: 1rem;
    margin-top: 4rem;
    width: min(100%, 120rem);
    margin: 0 auto;
    background-color: gray
}
.footer__main_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    background-color: #ffffff;
}
.container {
    font-size: 1rem;
    line-height: 0;
}
.footer__links_recomendations {
    font-family: var(--fuenteParrafos);
    font-size: 0.8rem;
    line-height: 2;
    text-align: center;
}
.icon {
    height: 1.5rem;
    width: auto; 
    max-height: 100%; 
}
.developers {
    font-family: var(--fuenteParrafos);
    font-size: 0.8rem;
    line-height: 0;
    text-align: center;
}
.developers__members {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
/*________________________________________________________________*/
/*--------------------------L O G I N-----------------------------*/
/*´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´'*/

/*Loginheader*/

/*LoginBody*/
.container_logIn_User{
    display: flex;
    padding: 50px 60px 30px 20px;
}
.processLogInUser{
    flex-direction: row-reverse;
}
.LoginIm{
    width: 980px;
    height: 600px;
}
/*________________________________________________________________*/
/*------------------------A U X I L I A R-------------------------*/
/*´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´'*/
.AuxiliarIcon{
    width: 100px;
    height: 100px;
}
#CarruselAux{
    height: 400px;
    overflow: hidden;
}
.carruselAuxiliar{
    height: 400px;
    position: relative;
}
.tarjetaCarruselAux{
    float: left;
    width: 50%;
    height: 200%;
}
.flechasCarruselAux{
    position: absolute;
    top: 0;
    height: 100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
a{
    text-decoration: none;
}
.imgIndexAux{
    width: 80%;
    height: 50%;
}

/*Body sección 2*/
