:root {
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;

    --primario: #784D3C;
    --gris: #e1e1e1;
    --blanco: #ffffff;
    --negro: #000000;
} 


h1, h2, h3, h4, h5 {
    font-family: var(--fuenteHeading);
    line-height: 1.2;
}

/** footer **/
.footer {
    padding-bottom: 3rem;
    margin-top: 4rem;
    width: min(90%, 120rem);
    margin: 0 auto;
    background-color: gray
}

.foteer__main_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    background-color: #ffffff;
}

.container {

}

.type__icon {
    height: 1.5rem;
}

.type__content {
    font-family: var(--fuenteParrafos);
    font-size: 0.8rem;
    line-height: 2;
}

.footer__links {
    font-family: var(--fuenteParrafos);
    font-size: 0.8rem;
    line-height: 2;
    text-align: center;
}

.footer__recomendations {
    font-family: var(--fuenteParrafos);
    font-size: 0.8rem;
    line-height: 2;
    text-align: center;
}

.developers {
    font-family: var(--fuenteParrafos);
    font-size: 0.8rem;
    line-height: 2;
    text-align: center;
}

.developers__icon {
    height: 1.5rem;
}

.socialnetworks {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;

}

.socialnetworks__icon {
    height: 1.5rem;
}

.icon {
    width: auto; 
    max-height: 100%; 
}