<!DOCTYPE html>
<html>

<head>
    <!--configuracion de la pagina-->
    <title>Hospitalizationathome</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
</head>
<!---------------ENCABEZADO---------------------------->
<header>
    <h1>Hospitalization at home</h1>
    <a href="html/Auxiliar.html">
        <input type="button" value="Login">
    </a>
    <button class="Signin">sign in</button>
</header>
<!----------------CUADRO DE INGRESO------------------->
<body>
    <div class="logIn_user">
    <div class="container_logIn_User">
        <h2>Login</h2>
        <form v-on:submit.prevent="processLogInUser">
            <input type="text" v-model="user.username" placeholder="Username">
            <br>
            <input type="password" v-model="user.password" placeholder="Password">
            <br>
            <button type="submit">Login</button>
        </form>
    </div>
    </div>
</body>
<!---------------PIE DE PÁGINA------------------------>
</html>